<launch>

    <arg name="robot_name"              default="podi" />
    <arg name="odom_frame_id"           default="podi_odom" />
    <arg name="base_frame_id"           default="podi_base_link" />
    <arg name="map_frame_id"            default="$(arg robot_name)_map" />
    <arg name="map_name"                default="tcs_perimeter.yaml" />
    <arg name="map_path"                default="$(find tbd_podi_2dnav)/maps/$(arg map_name)" />
    <arg name="initial_pose_x"          default="0" />
    <arg name="initial_pose_y"          default="0" />
    <arg name="initial_pose_yaw"          default="0" />
    <arg name="localization_tf"	 default="false" />
    <arg name="enable_human_costmaps"   default="false" />
    
    <group unless="$(arg localization_tf)">
    	<node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 1 $(arg map_frame_id) $(arg odom_frame_id) 100"/>
    </group>


    <!-- Note that these name will be prefixed by robot_name -->
    <arg name="robot_command_topic" default="nav_cmd_vel" />
    <arg name="robot_laser_topic"   default="laser" />
    <arg name="robot_odom_topic"    default="odometry/filtered" />

    <group ns="$(arg robot_name)">

        <!-- Run the map server -->
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)">
            <param name="frame_id" value="$(arg map_frame_id)"/>
        </node>

        <!-- Run AMCL -->
        <node pkg="amcl" type="amcl" name="amcl" output="screen">
    	    <rosparam file="$(find tbd_podi_2dnav)/config/amcl_params.yaml" command = "load" ns = "" subst_value="True"/>        
	    <!-- Set the initial pose in the map -->

            <remap from="scan" to="$(arg robot_laser_topic)" />
        </node>

        <!-- Run robot_localization -->
        <!-- (map to odom)/all -->
        <node pkg="robot_localization" type="ekf_localization_node" name="localization_odom">
             <rosparam file="$(find tbd_podi_2dnav)/config/localization_odom_params.yaml" command = "load" ns = "" subst_value="True"/>
        </node>
        
        <!-- (odom to base_link)/continuous -->
        <node pkg="robot_localization" type="ekf_localization_node" name="localization_base">
             <rosparam file="$(find tbd_podi_2dnav)/config/localization_base_params.yaml" command = "load" ns = "" subst_value="True"/>
        </node>

        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" required="true">
            <rosparam file="$(find tbd_podi_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find tbd_podi_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find tbd_podi_2dnav)/config/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find tbd_podi_2dnav)/config/global_costmap_params.yaml" command="load" />
            <rosparam file="$(find tbd_podi_2dnav)/config/base_local_planner_params.yaml" command="load" />

            <param name="base_global_planner" value="global_planner/GlobalPlanner" />
            <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

            <remap from="cmd_vel" to="$(arg robot_command_topic)" />
            <remap from="odom" to="$(arg robot_odom_topic)" />
            <remap from="laser" to="$(arg robot_laser_topic)" />
        </node>
    </group>

</launch> 
